.align-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.paper {
  display: grid;
  gap: 20px;
  &.grid-1 {
    grid-template-columns: 1fr;
  }
  &.grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  &.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
